.top-sec {
  position: relative;
  background-color: #000;
  background-image: url('../img/bg-top.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 33vh;
    max-height: 300px;
    content: '';
    background-image: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 67%);
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 50px;
  }
}

.top-sec__title {
  padding-left: 20px;
  user-select: none;
  color: #fff;

  @include responsive-font(80, 50);
  @include min(768) {
    padding-left: 50px;
  }
  @include min(1024) {
    padding-left: 100px;
  }
}
