//- begin about
.about-sec#about
  .container
    .about__pic
      img(src="assets/img/about.jpg" alt="img")
    .about__text
      h2.about__title About Us
      .about__descr
        p Homeslyce - your home away from home!Join us in one of our great stores located in baltimore & columbia, md, and Washington
        p All locally owned, we've created each unique store with a feel for, and commitment to the neighborhood. 

//- end   about