//- begin award-sec
.award-sec
  .container
    h2.award__title Award winning pizza & you!
    .award__deskr
      p Reserve our food truck for off-site catering for your block party, or other event or festival!
      a(href="#contacts").award__btn.btn.scroll
        svg
          use(xlink:href="assets/img/sprite.svg#cart")
        span Make order
//- end   award-sec