//- begin footer
footer.footer
  .container
    a(href="#top").footer__logo.scroll
      img(src="assets/img/logo.png" alt="img")
    .footer__copyright &#169; 2022 HomeSlyce. All Rights Reserved
//- end   footer