//- begin photo
.photo-sec#photo
  .container
    h2.photo__title Photo
  .swiper.mySwiper.photo__slider#photo__slider
    .swiper-wrapper
      .swiper-slide.photo__slide
        img(src="assets/img/photo.jpg" alt="photo")
      .swiper-slide.photo__slide
        img(src="assets/img/photo.jpg" alt="photo")
      .swiper-slide.photo__slide
        img(src="assets/img/photo.jpg" alt="photo")
      .swiper-slide.photo__slide
        img(src="assets/img/photo.jpg" alt="photo")
      .swiper-slide.photo__slide
        img(src="assets/img/photo.jpg" alt="photo")
    .swiper-pagination
//- end   photo