*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Encode Sans', sans-serif;
  font-size: 16px;
  color: #141414;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0 0 10px 0;
}

p {
  margin: 0 0 10px 0;

  strong {
    font-weight: 500;
  }
}

a {
  text-decoration: none;
}

ol,
ul {
  li {
    padding: 0;
  }
}

input,
textarea,
select,
button {
  border-radius: 0 !important;
  outline: none;
}

textarea {
  resize: none;
}

input.error,
textarea.error {
  border-color: #ed1b24 !important;
  background: #fbd1d3 !important;
}

svg {
  display: block;
  overflow: visible;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;

  &.no-scroll {
    overflow: hidden;
  }
}

.main {
  flex-grow: 1;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;

  @include min(768) {
    padding: 0 40px;
  }
  @include min(1024) {
    padding: 0 80px;
  }
}

.btn {
  font-family: 'Encode Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 5px 25px;
  cursor: pointer;
  user-select: none;
  transition: all $transition;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 25px !important;
  background-color: transparent;

  span {
    position: relative;
    display: block;
  }
}

.btn--blue {
  color: $white;
  background-color: $brand;

  &:hover {
    background-color: $brand-hov;
  }
}
