// ===== main colors =====
$brand: #14274e;
$brand-hov: #203c76;

// ===== text colors =====
$text: #141414;

// ===== link colors =====
$link: #2e2e40;
$link-hov: lighten($link, 25%);

// ===== transition =====
$transition: .3s ease-in-out;
$highlight: #fec524;
$white: #ece7e2;
