extends ../_template

block variables
  - let title       = 'Home Slyce'
  - let description = 'Home Slyce'

block content
  .main-wrap#main-wrap
    //begin content
    main.main
      include ../sections/header
      include ../sections/top
      include ../sections/about
      include ../sections/award
      include ../sections/photo
      include ../sections/party
      include ../sections/contacts
      include ../sections/map
      include ../sections/footer
      include ../elements/up
    //end content
    include ../sections/scripts