extends ../_template

block variables
  - let title       = 'Home Slyce'
  - let description = 'Home Slyce'

block content
  .main-wrap

    //begin content
    main.main
      include ../sections/header
      include ../sections/top
      include ../sections/footer


    //end content

    include ../sections/scripts